body{
	background-image: url("background.jpeg");
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;

}
.jumbotron{
	background-color: rgba(0, 0, 0, 0);
}
button.answer{
	width: 100%;
	height: 15%;
	margin-top: 4px;
}
.answer:hover{
	background-color: pink;

}

#platform {
	height: 60%;
	width: 70%;
	background-color: aqua;
	padding-bottom: 10px;
	padding-top: 10px;
}
#title{
	color: DarkGrey;
	font-family: 'Diplomata', cursive;
}
img{
	height: 100%;
	width: 100%;
}
#question{
	color: red;
	font-family: 'Diplomata', cursive;
}
.timer{
	color: orange;
	font-family: 'Diplomata', cursive;
}
.timer-p{
	color: orange;
	font-family: 'Diplomata', cursive;
}
.answer{
	color: black;
	font-family: 'Diplomata', cursive;
}