body{
	background-image: url("background.jpeg");
	background-size: 100%: 
}
button.answer{
	width: 600px;
	height: 65px;
}
.answer:hover{
	background-color: pink;

}

#platform {
	height: 700px;
	width: 800px;
	background-color: aqua;
}
#title{
	font-size: 77px;
	color: DarkGrey;
	font-family: 'Diplomata', cursive;
}
.wrestler{
	float: left;
}
.usa{
	float: right;
}
#question{
	font-size: 35px;
	color: red;
	font-family: 'Diplomata', cursive;
}
.timer{
	font-size: 35px;
	color: orange;
	font-family: 'Diplomata', cursive;
}
.timer-p{
	font-size: 35px;
	color: orange;
	font-family: 'Diplomata', cursive;
}
.answer{
	font-size: 30px;
	color: black;
	font-family: 'Diplomata', cursive;
}